body
{
	background-color:white;
}

.navbar
{
	width:100%;
	overflow: hidden;
	background-color:#21e4b5;
	margin-top: 0px;
	transform: translateY(0px);
	z-index:99999;
}

.navbar a
{
	float:left;
	display:block;
	color:white;
	text-align: center;
	padding:14px;
	text-decoration: none;	
	font-size:20px;
	margin-left:110px;
}

.navbar a:hover
{
	background-color:#3ae4a6;
	color:white;
}

.navbar a.active
{
	background-color:#43564a;
	color:white;
}

#text
{
	font-size:110%;
	margin-left:20%;
	margin-right: 20%;
	margin-top: 10%;
}


