body
{
	background-color:white;
}

#loader
{

	height:100%;
	background-color:#FCEDCC;
}

#loadchoco
{
	position: absolute;
	top:35%;
	left:45%;
}

#loadline1
{
	float:left;
	clear:both;
	margin:0px;
	display: inline-block;
}

#loadline2
{
	float:left;
	clear:both;
	margin:0px;
	display:inline-block;
}

#loadline3
{
	float:left;
	clear:both;
	margin:0px;
	display:inline-block;
}

.dot
{
	float:left;
	width: 30px;
	height: 30px; 
	background: #814F36;
	border: solid 2px #5B3623;
}

@keyframes one
{
	0%
	{
		opacity:1;
	}

	16.95%
	{
		opacity: 1;
	}

	17%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes one
{
	0%
	{
		opacity:1;
	}

	16.95%
	{
		opacity: 1;
	}

	17%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes one
{
	0%
	{
		opacity:1;
	}

	16.95%
	{
		opacity: 1;
	}

	17%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes one
{
	0%
	{
		opacity:1;
	}

	16.95%
	{
		opacity: 1;
	}

	17%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#one
{
	animation-name: one;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes two
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}



	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes two
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}



	100%
	{
		opacity:0;
	}
}

@-moz-keyframes two
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}



	100%
	{
		opacity:0;
	}
}

@-o-keyframes two
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}



	100%
	{
		opacity:0;
	}
}

#two
{
	animation-name: two;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes three
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes three
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes three
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes three
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#three
{
	animation-name: three;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes four
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes four
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes four
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes four
{
	0%
	{
		opacity:1;
	}

	33.95%
	{
		opacity: 1;
	}

	34%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#four
{
	animation-name: four;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes five
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes five
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes five
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes five
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#five
{
	animation-name: five;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes six
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes six
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes six
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes six
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#six
{
	animation-name: six;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes seven
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes seven
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes seven
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes seven
{
	0%
	{
		opacity:1;
	}

	50.95%
	{
		opacity: 1;
	}

	51%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#seven
{
	animation-name: seven;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}
@keyframes eight
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes eight
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes eight
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes eight
{
	0%
	{
		opacity:1;
	}

	67.95%
	{
		opacity: 1;
	}

	68%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#eight
{
	animation-name: eight;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

@keyframes nine
{
	0%
	{
		opacity:1;
	}

	85.95%
	{
		opacity: 1;
	}

	86%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-webkit-keyframes nine
{
	0%
	{
		opacity:1;
	}

	85.95%
	{
		opacity: 1;
	}

	86%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-moz-keyframes nine
{
	0%
	{
		opacity:1;
	}

	85.95%
	{
		opacity: 1;
	}

	86%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

@-o-keyframes nine
{
	0%
	{
		opacity:1;
	}

	85.95%
	{
		opacity: 1;
	}

	86%
	{
		opacity: 0;
	}

	100%
	{
		opacity:0;
	}
}

#nine
{
	animation-name: nine;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
}

.navbar
{
	position: fixed;
	width:100%;
	overflow: hidden;
	background-color:#21e4b5;
	margin-top: 0px;
	transform: translateY(-90px);
	z-index:99999;
}

.navbar a
{
	float:left;
	display:block;
	color:white;
	text-align: center;
	padding:14px;
	text-decoration: none;	
	font-size:20px;
	margin-left:110px;
}

.navbar a:hover
{
	background-color:#3ae4a6;
	color:white;
}

.navbar a.active
{
	background-color:#43564a;
	color:white;
}

#choco1
{
	margin-top:60px;
	height:350px;
	position:fixed;
	transform: translateY(-90px);
}

#pagenav
{
	font-size:15px;
	position: fixed;
	margin-top: 420px;
	margin-left: 9px;
	transform: translateY(-90px);
	width:215px;
	overflow: 
}

ul
{
	list-style-type: none;
	background-color: #f1f1f1;
}

li a
{
	display:block;
	color:#000;
	text-decoration: none;

}

li a:hover
{
	background-color:#555;
	color:white;
}

.heading
{
	clear:both;
	font-family:"Verdana";
	font-size: 35px;
	margin-left: 300px;
	margin-top:100px;
	margin-bottom: 20px;
}

.text
{
	margin-top:0px;
	margin-left: 300px;
	font-size:15px;
}

.sub
{
	clear:both;
	margin-top:10px;
	margin-left:300px;
	font-size:20px;
}

#chocopic1
{
	margin-bottom:50px;
	float:left;
	margin-left: 300px;
	height:300px;
}

#whitepic
{
	margin-bottom:30px;
	margin-right:20px;
	float:left;
	margin-left:300px;
	height:200px;
}

#milkpic
{
	margin-bottom:30px;
	margin-right:20px;
	margin-left:300px;
	float:left;
	height:200px;
}

#darkpic
{
	margin-bottom:30px;
	margin-right:20px;
	margin-left:300px;
	float:left;
	height:200px;
}
#chocoballspic
{
	margin-bottom:30px;
	margin-right:20px;
	float:left;
	margin-left:300px;
	height:200px;
}

#hotchocopic
{
	margin-bottom:30px;
	margin-right:20px;
	float:left;
	margin-left: 300px;
	height: 200px;
}
