body
{
	background-color:white;
}

#loader
{
	height:100%;
	background-color: #62E0D4;
	z-index:1;
	padding:1;

}


.navbar
{
	transform:translateY(-70px);
	position: fixed;
	width:100%;
	overflow: hidden;
	background-color:#21e4b5;
	margin-top: 0px;
	z-index:99999;
}

.navbar a
{
	float:left;
	display:block;
	color:white;
	text-align: center;
	padding:14px;
	text-decoration: none;	
	font-size:20px;
	margin-left:110px;
}

.navbar a:hover
{
	background-color:#3ae4a6;
	color:white;
}

.navbar a.active
{
	background-color:#43564a;
	color:white;
}
 

.text
{
	position: relative;
	font-size: 17.5px;
	margin-top: 0px;
	
}

#gif1
{
	float:left;
	height:350px;
	margin-right:20px;
	
}

.beg
{
	margin-top:80px;
}

.endgif
{
	clear:both;
	position:relative;
	margin-left:1px;
	height:196.5px;
}

.end
{
	clear:both;
}
#walking
{
	height:70px;
}

#walk
{
	position: relative;
	margin-bottom:1px;
	width: 100%;
	background-color: #E9C634 ;
	z-index:99999;
}

.heading
{
	clear:both;
	margin-bottom:0px;
	font-family:"Verdana";
	font-size: 35px;
}

.sub
{
	
	clear:both;
	font-family:"Verdana";
	font-size: 25px;
}

.limage
{
	height:230px;
	margin-left:10px;
	margin-right:20px;
	margin-bottom:30px;
	float:left;
}

.rimage
{
	height:230px;
	margin-left:20px;
	margin-right:10px;
	margin-bottom:30px;
	float:right;	
}	

.content
{
	margin-left:10px;
	margin-right: 10px
}			