body
{
	background-color:#FDF8F3;
}

#loader
{
	width:100%;
	height: 100%;
	background-color: black;
}

.box
{
	position: absolute;
	width: 6%;
	height: 12%; 
	
}

#one
{
	background-color:white;
	margin-top:20%;
	margin-left:45%;	
}

@keyframes one
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(90deg);
	}
	50%
	{
		transform: rotateZ(180deg);
	}
	75%
	{
		transform: rotateZ(270deg);
	}
	100%
	{
		transform: rotateZ(360deg);
	}

}

@-webkit-keyframes one
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(90deg);
	}
	50%
	{
		transform: rotateZ(180deg);
	}
	75%
	{
		transform: rotateZ(270deg);
	}
	100%
	{
		transform: rotateZ(360deg);
	}

}

@-o-keyframes one
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(90deg);
	}
	50%
	{
		transform: rotateZ(180deg);
	}
	75%
	{
		transform: rotateZ(270deg);
	}
	100%
	{
		transform: rotateZ(360deg);
	}

}

@-moz-keyframes one
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(90deg);
	}
	50%
	{
		transform: rotateZ(180deg);
	}
	75%
	{
		transform: rotateZ(270deg);
	}
	100%
	{
		transform: rotateZ(360deg);
	}

}
#one
{
	animation-name: one;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}

@keyframes two
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(-90deg);
	}
	50%
	{
		transform: rotateZ(-180deg);
	}
	75%
	{
		transform: rotateZ(-270deg);
	}
	100%
	{
		transform: rotateZ(-360deg);
	}
}

@-webkit-keyframes two
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(-90deg);
	}
	50%
	{
		transform: rotateZ(-180deg);
	}
	75%
	{
		transform: rotateZ(-270deg);
	}
	100%
	{
		transform: rotateZ(-360deg);
	}

}

@-o-keyframes two
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(-90deg);
	}
	50%
	{
		transform: rotateZ(-180deg);
	}
	75%
	{
		transform: rotateZ(-270deg);
	}
	100%
	{
		transform: rotateZ(-360deg);
	}

}

@-moz-keyframes two
{
	0%
	{
		transform: rotateZ(0deg);
	}
	25%
	{
		transform: rotateZ(-90deg);
	}
	50%
	{
		transform: rotateZ(-180deg);
	}
	75%
	{
		transform: rotateZ(-270deg);
	}
	100%
	{
		transform: rotateZ(-360deg);
	}

}

#two
{	
	background-color: #44D0AD;
	margin-top:20%;
	margin-left:45%;
	animation-name: two;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}

.navbar
{
	width:100%;
	overflow: hidden;
	background-color:#21e4b5;
	margin-top: 0px;
	z-index:99999;
}

.navbar a
{
	float:left;
	display:block;
	color:white;
	text-align: center;
	padding:14px;
	text-decoration: none;	
	font-size:20px;
	margin-left:110px;
}

.navbar a:hover
{
	background-color:#3ae4a6;
	color:white;
}

.navbar a.active
{
	background-color:#43564a;
	color:white;
}


.math1
{
	font-family: "Comic Sans MS";
	font-size:150%;
}	

.content
{
	color:white;
	height:89%;
	background-color: black;
	text-align: center;
	margin-left:20%;
	margin-right:20%;
	font-family: "Times";
	font-size:110%;
}

.text
{
	margin-top: 2%;
}
