body
{
	background-image:url("bluegreen1.jpg");
}

#loader
{
	
	background-color: #EEFEFE;
	height:100%;
	width:100%;
	z-index:99999;
	
}

.dots
{
	position: absolute;
	top:11%;
	left: 40%;
}

.dot
{
	transform: translateY(0px);
	font-size:1500%;
	color:#55D5B3;
}

#firstdot
{

}	

@keyframes loading
{
	0%
	{
		color: #44D0AD;
		opacity: 0.1;
	}

	20%
	{
		color: #44D0AD;
		opacity: 1;
	}

	100%
	{
		color: #44D0AD;
		opacity:0.1;
	}
}
@-webkit-keyframes loading
{
	0%
	{
		color: #44D0AD;
		opacity: 0.1;
	}

	20%
	{
		color: #44D0AD;
		opacity: 1;
	}

	100%
	{
		color: #44D0AD;
		opacity:0.1;
	}
}

@-moz-keyframes loading
{
	0%
	{
		color: #44D0AD;
		opacity: 0.1;
	}

	20%
	{
		color: #44D0AD;
		opacity: 1;
	}

	100%
	{
		color: #44D0AD;
		opacity:0.1;
	}
}

@-o-keyframes loading
{
	0%
	{
		color: #44D0AD;
		opacity: 0.1;
	}

	20%
	{
		color: #44D0AD;
		opacity: 1;
	}

	100%
	{
		color: #44D0AD;
		opacity:0.1;
	}
}
.dots span
{
	animation-name: loading;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-fill-mode:both;
}

.dots span:nth-child(2)
{
	animation-delay:0.8s;
}

.dots span:nth-child(3)
{
	animation-delay:1.6s;
}
#main
{
		
	
}

#name
{
	text-align:center;
	color:white;
	font-family:"Courier New";
	font-size:75;	
	margin-top:100px;
}
#meh
{
	clear:both;
	text-align: center;
	color:white;
	font-family: "Courier New";
	font-size: 15;
	margin-top:25px;
}
.picture
{
	margin-left:50px;
	margin-top:50px;
	float:left;
	height:150px;
	margin-right: 20px;
}

.picture:hover
{
	opacity:0.1;
}
.hovertext
{
	color:white;
	text-decoration: bold;
	font-family: "Palatino";
	font-size:22.5px;
	float:left;
	margin-left:100px;
	margin-right:100px;
	transform:translateY(-110px);
	z-index:99999;
}

#catstext
{
	margin-left:290px;
}

#pridetext
{
	margin-left:195px;
}
#coffeetext
{
	margin-left:200px;
}